<!DOCTYPE html>
{% extends "events/base.html" %} {%block content %}
<div></div>
{% if user.is_authenticated%}
<div></div>
<!-- {% if submitted%}
<h1>event was added successfully!!</h1>
{%else%} -->
<center>
  <h1>Add Event</h1>
  <br />
  <br />

  <form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%} {{form.as_p}}
    <input type="submit" value="Add event" class="btn btn-primary" />
  </form>
  {% endif%}
  <div></div>
  {% else %}
  <div></div>
  {% include 'events/not_logged_in.html' %} {% endif %}
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  {%endblock%}
</center>
