<!DOCTYPE html>
{% extends "events/base.html"%} {% block content%}
<center>
  {% if user.is_authenticated %}
  <h1>hello {{user}}</h1>

  {% endif %}
  <h2>{{time}}</h2>
  {{cal|safe}}
  <!-- <a  class="btn btn-primary"> next month</a> -->

  <br />
  <br />

  <ul class="list-group">
    <li class="list-group-item fw-bold"><h3>events list for {{month}}</h3></li>
    {% if events_list %} {% for event in events_list %}
    <!-- <li class="list-group-item">
      <a href="{%url 'show-event' event.id return_page%}">{{event}}</a> @
      <a href="{%url 'show-location' event.location.pk return_page%}">{{event.location}}</a>
      on {{event.event_date}}
    </li> -->
    <li class="list-group-item justify-content-between align-items-start">
      <div class="me-auto">
        <div class="fw-bold">
          <a href="{%url 'show-event' event.id return_page%}">{{event}}</a>
        </div>
        @
        <a href="{%url 'show-location' event.location.pk return_page%}"
          >{{event.location}}</a
        >
        on {{event.event_date}}
      </div>
      <span class="badge bg-primary rounded-pill"
        >attendees : {{event.attendees.count}}</span
      >
    </li>

    {% endfor %} {% else %}
    <li class="list-group-item">no events found</li>
    {% endif %}
  </ul>
  <br />
  <p>copyright (c) {{year}}</p>
</center>

{% endblock %}
